body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-chat{
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    overflow-y: auto;
}
.chats-2{
    border: solid 1px #E8EBE4;
    width: 28rem;
}
.chats-2 img{
    width: 50px;
    border-radius: 3rem;
}
button{
    width: 14rem;
    padding-bottom: 1px;
    background-color: #A491D2;
    color: #fff;
    border-top: solid 1px #E8EBE4;
}
.perfil{
    border: solid 1px #E8EBE4;
    width: 28rem;
}
.perfil img{
    width: 45px;
    border-radius: 3rem;
}
button{
    border-top: solid 1px gray;
}
.main-chat{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#E8EBE4;
    flex-direction: column;
}
.container{
    display: flex;
}
.network{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.network h1{
    font-size: 70px;
    font-family:Roboto;
}
.network p{
    padding-left: 41px;
    font-size: 16px;
}
.caja-boton{
    padding: 15%;
}
.main-chat img{
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 217px;
    padding-right: 264px;
    padding-top: 82px;
}
.chats-2{
    padding-left: 6px;
}
.chat-minibox{
    display: flex;
    justify-content: start;
}
.chat-minibox h3{
    padding-left: 26px;
}
.chat-minibox p{
    padding-left: 54px;
}